<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <br>

            <div class="row">
        <% for (i = 0; i < data.length; i++){ %>
                
                <div class="card col-4">
                    <a class="text-muted" href="<%= data[i].link %>">
                        <h3><%= data[i].title %></h3>
                        <p><%= data[i].description %></p>
                    </a>
                </div>

            <% if (i % 3 == 0){ %>
            </div>
            <div class="row">
            <% } %>
        <% } %>    

            </div>
    </div>
    <%- include('./partials/scripts') -%>
</body>
</html>