<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <br>

            <div class="row">
        <% i = 0 %>
        <% nav.forEach(function(navPage, index){ %>
            <% if (!navPage.hidden.home){ %>
                <div class="col-4">
                    <a class="card text-dark text-centered" href="<%= navPage.link %>">
                        <div class="card-body">
                            <h3 class="card-title"><%= navPage.title %></h3>
                            <p class="card-text"><%= navPage.description %></p>
                            <p><small class="text-muted"><%= navPage.navID %></small></p>
                        </div>
                    </a>
                </div>
            <% } %>

            <% if ((i+1) % 3 == 0){ %>
            </div>
            <div class="row">
            <% } %>
        <% }) %>    

            </div>
    </div>
    <%- include('./partials/scripts') -%>
</body>
</html>