<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <h1>Instellingen</h1>
        <hr>

        <form>
        <input type="hidden" name="redirect" value="/instellingen">
        <h2>Basis</h2>
        <!--
            key
            naam
            beschrijving
            versie
            prefix
        -->
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Token</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="basic[key]" value="<%= instellingen.basic.token %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Prefix</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="basic[prefix]" value="<%= instellingen.basic.prefix %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Name</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="basic[name]" value="<%= instellingen.basic.name %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Description</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="basic[description]" value="<%= instellingen.basic.description %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Version</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="basic[version]" value="<%= instellingen.basic.version %>">
                    </div>
                </div>
            </div>
        </div>

        <h2>Activiteit</h2>
        <!--
            online / offline / afwezig / niet storen
            activity text
            activity (game, stream, plain text?)
        -->
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Status</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="activity[status]" value="<%= instellingen.activity.status %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Text</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="activity[text]" value="<%= instellingen.activity.text %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Link</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="activity[link]" value="<%= instellingen.activity.link %>">
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <h3>Activity</h3>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="activity[activity]" value="<%= instellingen.activity.activity %>">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-secondary">Instellingen aanpassen</button>
        </form>

        <pre>
            <%= instellingen %>
        </pre>

    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>