<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">

        <h1>Regex Search Words</h1>

        <div class="accordion" id="accordionParent">
            
            <% data.forEach(function(searchWord, index){ %>
                <div class="card">
                <div class="card-header" id="heading<%= index %>">
                    <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                        <%= searchWord.regex %>
                    </button>
                    </h2>
                </div>
            
                <div id="collapse<%= index %>" class="collapse show" aria-labelledby="heading<%= index %>" data-parent="#accordionParent">
                    <div class="card-body">
                        <form action="/api/bot/searchWordData/edit" method="POST">
                            <!-- hidden input met index -->
                            <!-- inputs class "form-control geven" -->
                            <!-- booleans button group: True | False -->
                            <!-- hoe worden die regex strings doorgegeven? -->
                        </form>
                        
                        <pre>
                            <%= searchWord.regex %>
                            <%= searchWord.response %>
                            <%= searchWord.tts %>
                            <%= searchWord.enabled %>
                        </pre>
                    </div>
                </div>
                </div>
            <% }); %>

          </div>

        </div>        

        <!-- button voor nieuw search word toe te voegen -->
    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>