<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">

        <h1>Regex Search Words</h1>

        <div class="accordion" id="accordionParent">
            
            <% data.forEach(function(searchWord, index){ %>
                <div class="card">
                <div class="card-header" id="heading<%= index %>">
                    <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                        <%= searchWord.regex %>
                    </button>
                    </h2>
                </div>
            
                <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordionParent">
                    <div class="card-body">
                        
                        <form action="/api/bot/searchWordData/edit" method="POST">

                            <input type="hidden" name="index" value="<%= index %>">
                            <input type="hidden" name="redirect" value="/regexSearchWords">

                            <div class="list-group">
                                
                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <h3>Regex String</h3>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" name="regex" value="<%= searchWord.regex %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <h3>Response String</h3>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" name="response" value="<%= searchWord.response %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <h3>Text To Speak (TTS)</h3>
                                        </div>
                                        <div class="col-6">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary">
                                                    <% if (searchWord.tts){ %>
                                                        <input type="radio" name="tts" value="true" checked> On
                                                    <% } else { %>
                                                        <input type="radio" name="tts" value="true"> On
                                                    <% } %>
                                                </label>
                                                <label class="btn btn-secondary">
                                                    <% if (!searchWord.tts){ %>
                                                        <input type="radio" name="tts" value="false" checked> Off
                                                    <% } else { %>
                                                        <input type="radio" name="tts" value="false"> Off
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-item list-group-item-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <h3>Enabled</h3>
                                        </div>
                                        <div class="col-6">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-secondary">
                                                    <% if (searchWord.enabled){ %>
                                                        <input type="radio" name="enabled" value="true" checked> On
                                                    <% } else { %>
                                                        <input type="radio" name="enabled" value="true"> On
                                                    <% } %>
                                                </label>
                                                <label class="btn btn-secondary">
                                                    <% if (!searchWord.enabled){ %>
                                                        <input type="radio" name="enabled" value="false" checked> Off
                                                    <% } else { %>
                                                        <input type="radio" name="enabled" value="false"> Off
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        
                        <pre>
                            <%= searchWord.regex %>
                            <%= searchWord.response %>
                            <%= searchWord.tts %> | <%= typeof searchWord.tts %> | <% !searchWord.tts %>
                            <%= searchWord.enabled %> | <%= typeof searchWord.enabled %>
                        </pre>
                    </div>
                </div>
                </div>
            <% }); %>

          </div>

        </div>        

        <!-- button voor nieuw search word toe te voegen -->
    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>