<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <h1><%= page %>></h1>

        <div class="accordion" id="bigAccordionParent">

        <% vibeTypes = ["positive", "negative", "neutral", "neither", "requests"] %>
        <% vibeTypes.forEach(function(vibeType, vibeTypeIndex){ %>
            <div class="card">
                <div class="card-header" id="bigHeader<%= vibeTypeIndex %>">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left text-capitalize" type="button" data-toggle="collapse" data-target="#bigCollapse<%= vibeTypeIndex %>" aria-expanded="false" aria-controls="bigCollapse<%= vibeTypeIndex %>">
                            <%= vibeType %>
                        </button>
                    </h2>
                </div>
                <div id="bigCollapse<%= vibeTypeIndex %>" class="collapse" aria-labelledby="bigHeader<%= vibeTypeIndex %>" data-parent="#bigAccordionParent">
                    <div class="card-body">
                        <% vibes[vibeType].forEach(function(vibe, vibeIndex){ %>
                            <div class="accordion" id="smallAccordionParent<%= vibeTypeIndex %>">
                                <div class="card">
                                    <div class="card-header" id="smallHeader<%= vibeIndex %>type<%= vibeTypeIndex %>">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#smallCollapse<%= vibeIndex %>type<%= vibeTypeIndex %>" aria-expanded="false" aria-controls="smallCollapse<%= vibeIndex %>type<%= vibeTypeIndex %>">
                                                <%= vibe.text %>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="smallCollapse<%= vibeIndex %>type<%= vibeTypeIndex %>" class="collapse" aria-labelledby="smallHeader<%= vibeIndex %>type<%= vibeTypeIndex %>" data-parent="#smallAccordionParent<%= vibeTypeIndex %>">
                                        <div class="card-body">
                                            <% if(vibeTypeIndex != 4){ %>
                                                <form id="edit<%= vibeIndex %>type<%= vibeTypeIndex %>" action="/api/bot/vibes/edit" method="POST">
                                                    <input type="hidden" name="index" value="<%= vibeIndex %>">
                                                    <input type="hidden" name="type" value="<%= vibeType %>">
                                                    <input type="hidden" name="redirect" value="/vibes">
                                
                                                    <div class="list-group">
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Vibe Text</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" name="text" value="<%= vibe.text %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Suggested By</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" name="suggested_by" value="<%= vibe.suggested_by %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Enabled</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                        <label class="btn btn-secondary">
                                                                            <% if (vibe.enabled){ %>
                                                                                <input type="radio" name="enabled" value="true" checked> On
                                                                            <% } else { %>
                                                                                <input type="radio" name="enabled" value="true"> On
                                                                            <% } %>
                                                                        </label>
                                                                        <label class="btn btn-secondary">
                                                                            <% if (!vibe.enabled){ %>
                                                                                <input type="radio" name="enabled" value="false" checked> Off
                                                                            <% } else { %>
                                                                                <input type="radio" name="enabled" value="false"> Off
                                                                            <% } %>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </form>
                                
                                                <button type="submit" class="btn btn-primary" form="edit<%= vibeIndex %>type<%= vibeTypeIndex %>">Aanpassen</button>
                                            <% } else { %>
                                                <form id="requestThing<%= vibeIndex %>type<%= vibeTypeIndex %>" action="/api/bot/vibes/handleRequest" method="POST">
                                                    <input type="hidden" name="index" value="<%= vibeIndex %>">
                                                    <input type="hidden" name="type" value="<%= vibeType %>">
                                                    <input type="hidden" name="redirect" value="/vibes">

                                                    <div class="list-group">
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Vibe Text</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" name="text" value="<%= vibe.text %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Suggested By</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" name="suggested_by" value="<%= vibe.suggested_by %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Suggested From</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <input type="text" class="form-control" name="suggested_from" value="<%= vibe.suggested_from %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-group-item list-group-item-action">
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <h3>Select Vibe Category</h3>
                                                                </div>
                                                                <div class="col-6">
                                                                    <select class="custom-select" name="category">
                                                                        <option value="positive">Positive</option>
                                                                        <option value="negative">Negative</option>
                                                                        <option value="neutral">Neutral</option>
                                                                        <option value="neither">Neither</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </form>

                                                <button type="submit" class="btn btn-primary" form="requestThing<%= vibeIndex %>type<%= vibeTypeIndex %>">In Category plaatsen</button>
                                            <% } %>

                                            <button type="submit" class="btn btn-danger" form="remove<%= vibeIndex %>type<%= vibeTypeIndex %>">Verwijder Vibe</button>
                                            
                                            <form id="remove<%= vibeIndex %>type<%= vibeTypeIndex %>" action="/api/bot/vibes/remove" method="POST">
                                                <input type="hidden" name="index" value="<%= vibeIndex %>">
                                                <input type="hidden" name="type" value="<%= vibeType %>">
                                                <input type="hidden" name="redirect" value="/vibes">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>

        <% }) %>

        </div>

    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>