<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('./partials/htmlHead'); -%>
</head>
<body>
    <%- include('./partials/navigatie') -%>

    <div class="container text-left">
        <h1><%= page %>></h1>

        <div class="accordion" id="bigAccordionParent">

        <% vibeTypes = ["positive", "negative", "neutral", "neither", "requests"] %>
        <% vibeTypes.forEach(function(vibeType, vibeTypeIndex){ %>
            <div class="card">
                <div class="card-header" id="bigHeader<%= vibeTypeIndex %>">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#bigCollapse<%= vibeTypeIndex %>" aria-expanded="false" aria-controls="bigCollapse<%= vibeTypeIndex %>">
                            <%= vibeType %>
                        </button>
                    </h2>
                </div>
                <div id="bigCollapse<%= vibeTypeIndex %>" class="collapse" aria-labelledby="bigHeader<%= vibeTypeIndex %>" data-parent="#bigAccordionParrent">
                    <div class="card-body">
                        <% vibes[vibeType].forEach(function(vibe, vibeIndex){ %>
                            <h3>test</h3>
                        <% }) %>
                    </div>
                </div>
            </div>

        <% }) %>

        </div>

    </div>

    <%- include('./partials/scripts') -%>
</body>
</html>